<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @beer.brand %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Country:</strong>
  <%= @beer.country %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @beer.quantity %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
